{% extends "base.html.jinja" %}

{% block title %}Contact - LM Theory{% endblock %}

{% block content %}
<section id="contact">
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or if you want to contribute to our repository, please reach out to us using the contact information below:</p>
    <p>Email: <a href="mailto:contact@example.com">contact@example.com</a></p>
</section>
{% endblock %}