{% extends "base.html.jinja" %}

{% block title %}Examples - LM Theory{% endblock %}

{% block content %}
<section id="contact">
    <h2>Examples</h2>
    <p>Comming soon...</p>
</section>
{% endblock %}